<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">
	<div class="wp-block-group__inner-container">
		<!-- wp:post-title {"className":"entry-title","textColor":"black"} /-->
		
		<!-- wp:post-date /-->

		<!-- wp:post-author {"showAvatar":false,"fontSize":"small"} /-->

		<!-- wp:post-featured-image /-->

		<!-- wp:post-content /-->
		
		<!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

		<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /-->
	</div>
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->